/* AddEle.module.css */
.listItem {
    padding: 8px;
    margin: 4px;
    border-radius: 4px;
    background-color: ;
  }
  
  .li1 {
    background-color: lightblue;
  }
  
 .li2 {
    background-color: lightcoral;
  }
  